{
    "enable": true,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "singleQuote": true,
    "printWidth": 180,
    "tabWidth": 2,
    "arrowParens": "always",
    "useTabs": true,
    "semi": false,
    "jsxBracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true,
    "bracketSpacing":true,
    "singleAttributePerLine":false
}